body {
    background-color: #EBEBD3;
    color: #083D77;
    min-height: 100vh;
    padding-bottom: 5vh;
    font-family: 'Righteous', cursive;
}

.navbar {
    background-color: #083D77;
    padding: 0 10px 0 10px;
}


.navbar-burger {
    color: white;
}

.navbar-item {
    color: #DA4167;
}

h1,
h2,
h3 {
    color: #083D77;
    font-size: larger;
}

.title {
    color: #DA4167;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    box-shadow: 0 0 15px #F4D35E;
    transform: scale(1.05);
    z-index: 10;
}

p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 490px;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
}
  
.detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.cat-prev {
    text-align: center;

}

.card-cat {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__about p {
    font-size: 18px;
}

.trait p {
    font-size: 16px;
}

.detail__container {
    margin-top: 500px;
}

.container {
    padding: 3vh 1vw 5vh 1vw;
}

.list {
    margin-left: 10px;
}


.cat-img {
    width: 420px;
    margin-left: 20px;
}

.cat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cat_preview {
    width: 420px;
    padding: 10px 0px 10px 20px;
}

.see_cats {
    text-align: center;
}

.see-c:hover {
    color: #DA4167;
    text-decoration: underline;
}

#cat_collector {
    text-align: center;
    margin: 30px 0 50px 0;
    padding: 20px;
    background-color: #ffdc5c;
}

#cat_breeds-list {
    padding: 50px 0 30px 0;
    text-align: center;
}

.cat-update {
    padding-top: 60px;
}

.delete-pg {
    padding-top: 150px;
    
}
.delete-title {
    text-align: center;
    justify-content: center;

}
.delete-buttons {
    text-align: center;
    justify-content: center;
}

.about {
    padding-top: 60px;
}

.about-info {
    max-width: 70%;
}