body {
    background-color: #EBEBD3;
    color: #083D77;
    min-height: 100vh;
    margin-bottom: 10vh;
}

.navbar {
    background-color: #083D77;
}


.navbar-burger {
    color: white;
}

.navbar-item {
    color: #DA4167;
}

h1,
h2,
h3 {
    color: #083D77;
}

.title {
    color: #DA4167;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    border: 3px solid #DA4167;
    transition: .1s linear;
}

.gallery .card:hover {
    box-shadow: 0 0 15px #F4D35E;
    transform: scale(1.05);
    z-index: 10;
}

p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    overflow: hidden;
}
  
.detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__about p {
    font-size: 18px;
}

.trait p {
    font-size: 16px;
}

.detail__container {
    margin-top: 500px;
}

.container {
    padding: 3vh 1vw 5vh 1vw;
}