{% extends 'base.html' %} {% block content %}
<div class="about">
    <div>
        <h1 class="title is-1">About Cat Collector</h1>
    </div>
    <br
    <div>
        <h3 class='about-info'>
            Cat Collector is a site built by Anthony Kelly to allow users to keep track of cats they have seen, like, or acquired. Users can make lists of cats, edit the cat information, or delete cats as they see fit. This site began as a project for the General Assembly coding bootcamp Software Engineering Immersive. It is built using Python/Django and PostgreSQL.  
            <br><br>
            <b>For more information:</b>
            <br>
            anthonymkelly93@gmail.com
            <br>
            <a href='https://github.com/SourceCodeKelly/cat-collector-django'>SourceCodeKelly on Github</a>
        </h3>
    </div>
</div>
{% endblock %}