{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{cat.img}}" alt="{{cat.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{cat.name}}</h1>
</div>
<div class="detail__container">
    <div>
        <h4>{{cat.preview}}</p>
    </div>
    <br>
    <div class="buttons">
        <a href="{% url 'cat_update' cat.pk %}" class="button is-info">Edit 
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'cat_delete' cat.pk %}" class="button is-danger">Delete 
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
        
    </div>

    <div class="detail__about">
        <h3 class="title is-4">About</h3>
        <p>{{cat.info}}</p>
    </div>
    <br>
    <div class="trait">
        <h4 class="title is-4">Traits</h4>
        <p><b>Height:</b> {{cat.height}}</p>
        <p><b>Weight:</b> {{cat.weight}}</p>
        <p><b>Life Span:</b> {{cat.lifespan}}</p>
        <p><b>Intelligence:</b> {{cat.intelligence}}</p>
        <p><b>Activity Level:</b> {{cat.activity}}</p>
        <p><b>Vocalness:</b> {{cat.vocalness}}</p>
        <p><b>Coat Length:</b> {{cat.coat}}</p>
    </div>
    <br>
 
    <div class="detail__other mb-5">
        <h3 class="title is-4">Other Traits</h3>
        <form class="mb-5" action="{% url 'trait_create' cat.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="other_trait"
                        placeholder="Trait"
                        required
                    />
                </div>
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="trait_info"
                        placeholder="Trait info"
                        required
                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Trait" />
                </div>
            </div>
        </form>
        {% for trait in cat.other_traits.all %}
        <div class="trait">
            <p><b>{{trait.other_trait}}: </b><span>{{trait.trait_info}}</span></p>        
        </div>
            {% empty %}
        <article class="message">
        <div class="message-header">
            <p>No Other Traits Available</p>
        </div>
        </article>

        {% endfor %}
    </div>
</div>

{% endblock %}