{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Cats{% endblock  %}

{% block content %}

<h1 class="title pt-5">Popular Cat Breeds</h1>
<!-- SEARCH BAR-->
<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <!--  This input will search by name of cat  -->
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will redirect back to cat list without a query param -->
    <a class="button is-white" href="{% url 'cat_list' %}">Clear Search</a>
    <a class="button is-dark" href="{% url 'cat_create' %}">Add Cat</a>
  </form>
<div class="gallery">
  {% for cat in cats %}
  <a href="{% url 'cat_details' cat.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{cat.img}}" alt="{{cat.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{cat.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Cats Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}